body {
        color: #40514e;
        margin: 0;
        text-align: center;
        font-family: 'Merriweather Sans', serif;
    }
h1{
    color: #66BFBF;
    line-height: 2;
    font-size: 5.622rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}
h2 {
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 2;
}
hr {
    border: dotted #E4F9F5 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.dev{
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 250px;

}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    
}
.middle-container {
    margin: 100px 0 100px 0;
}
a {
    color: #11999E;
}
.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.code-img {
    width: 30%;
    float: left;
    margin-right: 30px;
}
.bca-img {
    width: 25%;
    border-radius: 50% 50% 5%;
    float: right;
    margin-left: 30px;
}
.abhishek-pic {
    width: 200px;
    height: 200px;
}
.intro {
    width: 30%;
    margin: auto;
}
.contact-massege {
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #00ff6f;
    background-image: -webkit-linear-gradient(top, #00ff6f, #3b2bb8);
    background-image: -moz-linear-gradient(top, #00ff6f, #3b2bb8);
    background-image: -ms-linear-gradient(top, #00ff6f, #3b2bb8);
    background-image: -o-linear-gradient(top, #00ff6f, #3b2bb8);
    background-image: linear-gradient(to bottom, #00ff6f, #3b2bb8);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 0px 1px 3px #666666;
    font-family: 'Merriweather Sans';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #12e3af;
    background-image: -webkit-linear-gradient(top, #12e3af, #0099ff);
    background-image: -moz-linear-gradient(top, #12e3af, #0099ff);
    background-image: -ms-linear-gradient(top, #12e3af, #0099ff);
    background-image: -o-linear-gradient(top, #12e3af, #0099ff);
    background-image: linear-gradient(to bottom, #12e3af, #0099ff);
    text-decoration: none;
  }
  .bottom-container {
      background-color: #66BFBF;
      padding: 50px 0px 20px;
  }

  a {
      color: #11999E;
      font-family: 'Merriweather Sans', serif;
      margin: 5px;
      text-decoration: none;
  }
  a:hover {
      color: #eaf6f6;
  }
  .copyright {
      color: #eaf6f6;
      font-size: 0.75rem;
      padding: 20px 0px;
  }